@container_sm:576px;
@container_md:768px;
@container_lg:992px;
@container_xl:1200px;

@col_1:8.333333%;
@col_2:16.666667%;
@col_3:25%;
@col_4:33.333333%;
@col_5:41.666667%;
@col_6:50%;
@col_7:58.333333%;
@col_8:66.666667%;
@col_9:75%;
@col_10:83.333333%;
@col_11:91.666667%;
@col_12:100%;

 .container{
 	max-width:100%;
  	margin-right: auto;
  	margin-left: auto;
 }

@media (min-width:@container_sm){
 	.container{
 		max-width:@container_sm;
 	}
 }
 @media (min-width:@container_md){
 	.container{
 		max-width:@container_md;
 	}
 }
 @media (min-width:@container_lg){
 	.container{
 		max-width:@container_lg;
 	}
 }
 @media (min-width:@container_xl){
 	.container{
 		max-width:@container_xl;
 	}
 }

.row{
	width:100%;
	flex-wrap:wrap;
	display: flex;
}
.col{
	flex:0 0 100%;
	max-width:100%;
}
.col-auto{
	flex:0 0 auto;
	width:auto;
}
.col-1{
	flex:0 0 @col_1;
	max-width: @col_1;
}
.col-2{
	flex:0 0 @col_2;
	max-width: @col_2;
}
.col-3{
	flex:0 0 @col_3;
	max-width: @col_3;
}
.col-4{
	flex:0 0 @col_4;
	max-width: @col_4;
}
.col-5{
	flex:0 0 @col_5;
	max-width: @col_5;
}
.col-6{
	flex:0 0 @col_6;
	max-width: @col_6;
}
.col-7{
	flex:0 0 @col_7;
	max-width: @col_7;
}
.col-8{
	flex:0 0 @col_8;
	max-width: @col_8;
}
.col-9{
	flex:0 0 @col_9;
	max-width: @col_9;
}
.col-10{
	flex:0 0 @col_10;
	max-width: @col_10;
}
.col-11{
	flex:0 0 @col_11;
	max-width: @col_11;
}
.col-12{
	flex:0 0 @col_12;
	max-width: @col_12;
}
@media (min-width:@container_sm){
.col-sm{
	flex:0 0 100%;
	max-width:100%;
}
.col-auto{
	flex:0 0 auto;
	width:auto;
}
.col-sm-1{
	flex:0 0 @col_1;
	max-width: @col_1;
}
.col-sm-2{
	flex:0 0 @col_2;
	max-width: @col_2;
}
.col-sm-3{
	flex:0 0 @col_3;
	max-width: @col_3;
}
.col-sm-4{
	flex:0 0 @col_4;
	max-width: @col_4;
}
.col-sm-5{
	flex:0 0 @col_5;
	max-width: @col_5;
}
.col-sm-6{
	flex:0 0 @col_6;
	max-width: @col_6;
}
.col-sm-7{
	flex:0 0 @col_7;
	max-width: @col_7;
}
.col-sm-8{
	flex:0 0 @col_8;
	max-width: @col_8;
}
.col-sm-9{
	flex:0 0 @col_9;
	max-width: @col_9;
}
.col-sm-10{
	flex:0 0 @col_10;
	max-width: @col_10;
}
.col-sm-11{
	flex:0 0 @col_11;
	max-width: @col_11;
}
.col-sm-12{
	flex:0 0 @col_12;
	max-width: @col_12;
}
 }
 @media (min-width:@container_lg){
 .col-lg{
	flex:0 0 100%;
	max-width:100%;
}
.col-lg-auto{
	flex:0 0 auto;
	width:auto;
}
.col-lg-1{
	flex:0 0 @col_1;
	max-width: @col_1;
}
.col-lg-2{
	flex:0 0 @col_2;
	max-width: @col_2;
}
.col-lg-3{
	flex:0 0 @col_3;
	max-width: @col_3;
}
.col-lg-4{
	flex:0 0 @col_4;
	max-width: @col_4;
}
.col-lg-5{
	flex:0 0 @col_5;
	max-width: @col_5;
}
.col-lg-6{
	flex:0 0 @col_6;
	max-width: @col_6;
}
.col-lg-7{
	flex:0 0 @col_7;
	max-width: @col_7;
}
.col-lg-8{
	flex:0 0 @col_8;
	max-width: @col_8;
}
.col-lg-9{
	flex:0 0 @col_9;
	max-width: @col_9;
}
.col-lg-10{
	flex:0 0 @col_10;
	max-width: @col_10;
}
.col-lg-11{
	flex:0 0 @col_11;
	max-width: @col_11;
}
.col-lg-12{
	flex:0 0 @col_12;
	max-width: @col_12;
}
 }
 @media (min-width:@container_xl){
 .col-xl{
	flex:0 0 100%;
	max-width:100%;
}
.col-xl-auto{
	flex:0 0 auto;
	width:auto;
}
.col-xl-1{
	flex:0 0 @col_1;
	max-width: @col_1;
}
.col-xl-2{
	flex:0 0 @col_2;
	max-width: @col_2;
}
.col-xl-3{
	flex:0 0 @col_3;
	max-width: @col_3;
}
.col-xl-4{
	flex:0 0 @col_4;
	max-width: @col_4;
}
.col-xl-5{
	flex:0 0 @col_5;
	max-width: @col_5;
}
.col-xl-6{
	flex:0 0 @col_6;
	max-width: @col_6;
}
.col-xl-7{
	flex:0 0 @col_7;
	max-width: @col_7;
}
.col-xl-8{
	flex:0 0 @col_8;
	max-width: @col_8;
}
.col-xl-9{
	flex:0 0 @col_9;
	max-width: @col_9;
}
.col-xl-10{
	flex:0 0 @col_10;
	max-width: @col_10;
}
.col-xl-11{
	flex:0 0 @col_11;
	max-width: @col_11;
}
.col-xl-12{
	flex:0 0 @col_12;
	max-width: @col_12;
}
 }