.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.NewUI-col {
  flex: 0 0 100%;
  max-width: 100%;
}
.NewUI-col-auto {
  flex: 0 0 auto;
  width: auto;
}
.NewUI-col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.NewUI-col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.NewUI-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.NewUI-col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.NewUI-col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.NewUI-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.NewUI-col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.NewUI-col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.NewUI-col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.NewUI-col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.NewUI-col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.NewUI-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .NewUI-col-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .NewUI-col-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .NewUI-col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .NewUI-col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .NewUI-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .NewUI-col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .NewUI-col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .NewUI-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .NewUI-col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .NewUI-col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .NewUI-col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .NewUI-col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .NewUI-col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .NewUI-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .NewUI-col-lg {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .NewUI-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .NewUI-col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .NewUI-col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .NewUI-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .NewUI-col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .NewUI-col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .NewUI-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .NewUI-col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .NewUI-col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .NewUI-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .NewUI-col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .NewUI-col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .NewUI-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .NewUI-col-xl {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .NewUI-col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .NewUI-col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .NewUI-col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .NewUI-col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .NewUI-col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .NewUI-col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .NewUI-col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .NewUI-col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .NewUI-col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .NewUI-col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .NewUI-col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .NewUI-col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .NewUI-col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
